{{extend 'layout.html'}}

<div class="post_listing center">
{{if auth.user_id:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'edit')}}" class="btn btn-warning">
            <i class="fa fa-plus"></i> New Post
        </a>
    </div>


{{else:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">Log In</a>
    </div>

{{pass}}

    <div class="post_list">
        {{for p in posts:}}
            <div class="post text-left">
                <!-- Here goes the code to display an individual post. The code below is just a placeholder. -->
                <div id="posts">
                    <div id="main_post">
                         {{=p.post_content}}
                    </div>

                    <div class="name_time">
                        {{=p.first_name}}{{=p.last_name}}
                    </div>
                    <div class="name_time">
                        {{=p.created_on}}
                    </div>
                    {{if p.created_on != p.updated_on:}}
                    <div class="name_time" id="name_time">
                        Edited on: {{=p.updated_on}}
                    </div>
                    {{pass}}
                    <div class="name_time" id="edit">
                    {{if auth.user_id:}}
                        {{if auth.user.email == p.user_email:}}
                        <a href="{{=URL('default','edit',args=[p.id])}}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        {{pass}}
                    {{pass}}
                    </div>
                </div>

            </div>
        {{pass}}
    </div>
</div>
